numpy
pandas
geopandas
matplotlib
scipy
scikit-learn
shapely
pyproj
xarray
netcdf4
h5py
h5netcdf
tables
python-dateutil
tqdm
gridmarthe >= 0.3
git+https://gitlab.com/brgm/hydrogeological-modelling/marthe-tools/martpy@dev

